<h1>login page!</h1>
<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    
    <input placeholder="Email" formControlName="email" class="form-control">
    <!-- <mat-hint *ngIf='loginForm.controls.[email].errors'>Email is required</mat-hint> -->
    
    
    <input  type="password" placeholder="password" formControlName="password" class="form-control">
    <!-- <mat-hint *ngIf="loginForm.controls.password.errors">Password is required</mat-hint> -->
    
    <button  [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Login</button>
    
    
  </div>
</form>

</div>
