
<div class="container">
  <div>
    <h1>Register Form</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required name="name">
        <div
          *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
          class="alert">
          <div *ngIf="registerForm.invalid">
            Please enter Name
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" required name="username" formControlName="username">
        <div
          *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)"
          class="alert">
          <div *ngIf="registerForm.invalid">
            Please enter username
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" required name="email" formControlName="email">
        <div
        *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
        class="alert">
        <div *ngIf="registerForm.invalid">
          Please enter Email
        </div>
      </div>
      </div>

      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" required name="password" formControlName="password" >
        <div
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
          class="alert">Password must have a numbers and letters</div>
        </div>
      
          <div class="form-group">
            <label for="confirmPassword">confirmPassword</label>
            <input type="password" class="form-control" id="configPassword" required name="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="(registerForm.controls['confirmPassword'].value!==registerForm.controls['password'].value) && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)"
            class="alert">Password must be the same</div>
          </div>
        
         
      <button type="submit" class="btn btn-success">Submit</button>
      <!-- <button [disabled]="registerForm.valid" mat-flat-button color="primary">Register</button> -->

    </form>
    <p>registerForm value: {{ registerForm.value | json }}</p>
    <p>registerForm status: {{ registerForm.status | json }}</p>
    
 
